<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>


<body>
	<header>
		<ul>
			<li class = "textcolor3"><a href = "/">Home</a></li>
			<li class = "textcolor3"><a href = "/player_1_name"></a>Play Game</li>
		</ul>
	</header>

    
<p>  </p>


  </body>
</html>