<!DOCTYPE html>
<head>
	<title> Maxx's TicTacToe </title>
	<link rel="stylesheet" href = "css/style.css"> 
</head>

<body>
<%=yield%>
<header>

<p>Welcome to Maxx's Game!</p>	
	
</header>


</body>
</html>